

<div class="content" role="main">
  <img src="../src/assets/logosvg.svg" width="200" height="200" alt="isponsor">
  <app-menu></app-menu>
  <app-vendor></app-vendor>
  <app-category></app-category>

  <app-project *ngFor="let projectItem of projects;  let projectItemId = projectItemIdIndex" [project]="projectItem" [projectItemIdIndex]="projectItemId + 1"></app-project>
  <app-product *ngFor="let productItem of products; let productItemId = productItemIdIndex"  [product]="productItem" [productItemIdIndex]="productItemId + 1"></app-product>
  <app-order></app-order>

  <app-event></app-event>


  <app-message></app-message>
  <app-tag></app-tag>

</div>


<router-outlet></router-outlet>
